.about {
  p,
  li {
    margin: 0 auto;
    max-width: 650px;
  }
  p {
    margin-bottom: 10px;
  }
  ul {
    padding-left: 20px;
    li {
      list-style: disc;
      font-size: 1.2rem;
      line-height: 1.7;
    }
  }
  .getInTouch {
    font-size: 1.2rem;
    border-radius: 5px;
    box-shadow: $black 5px 10px;
    text-transform: uppercase;
    background: $accent;
    color: $white;
    padding: 10px;
    margin-left: 5px;
    margin-top: 5px;
    min-width: 157px;
    display: inline-block;
  }
  
  .getInTouch:hover,
  .getInTouch:focus {
    background: darken($accent, 10%);
  }

  .getInTouch:active {
    background: darken($accent, 10%);
    box-shadow: $black 2px 5px;
  }
}