.blogPosts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blogPosts li {
  background: $sectionBackground;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-bottom: 40px;
  text-align: center;
  max-width: 450px;
  border-radius: 10px;
}

.blogPosts img {
  border-radius: 10px 10px 0 0;
}

.blogText {
  padding: 10px;
}

.blogPosts h4,
.blogPosts h5 {
  font-size: 1.2rem;
  line-height: 1.7;
  text-align: left;
}

.blogPosts h5 {
  color: $grey;
}

.blogPosts p {
  text-align: left;
  padding: 10px;
}

.blog a {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: $black 5px 10px;
  text-transform: uppercase;
  background: $accent;
  color: $white;
  width: 150px;
  display: block;
  margin: 0 auto;
}

.blog a:hover,
.blog a:focus {
  cursor: pointer;
  background: darken($accent, 10%);
}

.blog a:active {
  background: darken($accent, 10%);
  box-shadow: $black 2px 5px;
}

.blog .mediumLink {
  background: $white;
  color: $accent;
  text-transform: none;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  display: inline;
}

.blog .mediumLink:hover,
.blog .mediumLink:focus,
.blog .mediumLink:active {
  background: $white;
  border-bottom: 1px solid $black;
  box-shadow: none;
}

.moreBlog,
.blog .mediumLink {
  font-size: 1.2rem;
  text-align: center;
}