.projectContainer {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projectContainer li {
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 450px;
  padding: 10px;
}

.projects h4 {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 0;
}

.collaborationLink {
  text-decoration: underline;
}
.collaborationLink:hover,
.collaborationLink:focus {
  text-decoration: underline $accent;
}

.used {
  text-align: center;
  li {
    margin: unset;
    max-width: unset;
    padding: unset;
    font-size: 1.2rem;
    background: $black;
    color: $white;
    display: inline-block;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
  }
}

.projectLinkContainer {
  display: flex;
  flex-direction: column;
  width: 180px;
  margin: 0 auto;
  padding-top: 10px;
}

.projectLink {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: $black 5px 10px;
  text-transform: uppercase;
  background: $accent;
  color: $white;
  margin-bottom: 20px;
}

.projectLink:hover,
.projectLink:focus {
  cursor: pointer;
  background: darken($accent, 10%);
}

.projectLink:active {
  background: darken($accent, 10%);
  box-shadow: $black 2px 5px;
}