html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: "Open Sans", sans-serif;
  cursor: default;
}
a,
body {
  color: #2b2b2b;
}
a {
  text-decoration: none;
}
.fa-external-link-alt {
  color: #2b2b2b;
}
.wrapper {
  margin: 0 auto;
  padding: 10px;
  max-width: 1000px;
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
}
img {
  width: 100%;
  max-width: 100%;
  display: block;
}
.blogLink,
.hire,
.projectLink,
button,
h1,
h2,
h3,
h4,
h5,
nav a {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}
nav a:focus,
nav a:hover {
  color: #ee4d45;
}
h3 {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-bottom: 2px solid #bababa;
  width: 150px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  position: relative;
}
h3:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 30px;
  border-bottom: 4px solid #ee4d45;
  padding-bottom: 5px;
  position: absolute;
  left: 5px;
  right: 5px;
  bottom: -3px;
}
p {
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 0 10px;
}
header {
  background: #f5f4f2;
  padding-bottom: 50px;
}
.logo {
  position: relative;
  width: 100px;
  left: 20px;
  top: 15px;
}
.logo .logoImage {
  width: 100%;
  max-width: 100%;
  display: block;
  height: auto;
}
.logo div {
  position: absolute;
  top: 50px;
  visibility: hidden;
}
.toolTipText {
  width: 300px;
  background: #f7a6a2;
  color: #2b2b2b;
  padding: 5px;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}
.toolTipText:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 20px;
  border-bottom: 12px solid #f7a6a2;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.logo:focus .toolTipText,
.logo:hover .toolTipText {
  visibility: visible;
}
.mainNav {
  display: none;
  font-size: 1.5rem;
}
.mainNav ul {
  max-width: 800px;
}
.mainNav li {
  border-bottom: 1px solid #f5f4f2;
}
.mainNav li:hover {
  border-bottom: 1px solid #2b2b2b;
}
div.hero {
  margin-top: 10px;
}
.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.mobileNav {
  padding-top: 100px;
  height: 120vh;
  visibility: hidden;
  position: fixed;
  padding-left: 0;
  z-index: 20;
  width: 100%;
  top: -50px;
  right: -500px;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  font-size: 2rem;
  text-align: center;
  background: #f5f4f2;
}
.mobileNav a {
  display: block;
  width: 100%;
  color: #2b2b2b;
  padding: 15px 0;
}
.mobileNav a:active {
  background: #f27a74;
}
.openNav {
  right: 0;
  visibility: visible;
}
#navIcon {
  z-index: 50;
  width: 60px;
  height: 45px;
  position: fixed;
  right: 30px;
  top: 30px;
  background: 0 0;
  border: none;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#navIcon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #2b2b2b;
  border-radius: 9px;
  left: 0;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#navIcon span:nth-child(1) {
  top: 0;
}
#navIcon span:nth-child(2),
#navIcon span:nth-child(3) {
  top: 18px;
}
#navIcon span:nth-child(4) {
  top: 36px;
}
#navIcon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
#navIcon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#navIcon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#navIcon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.hero {
  margin-top: 60px;
  padding-top: 20px;
  text-align: center;
}
h1 {
  margin-top: 0;
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
.jobTitle {
  background: #2b2b2b;
  color: #fff;
  width: 220px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
}
.former {
  margin-bottom: 40px;
  height: 28px;
}
.hire {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5rem;
  border-radius: 5px;
  -webkit-box-shadow: #2b2b2b 5px 10px;
  box-shadow: #2b2b2b 5px 10px;
  text-transform: uppercase;
  background: #ee4d45;
  color: #fff;
}
.hire:focus,
.hire:hover {
  cursor: pointer;
  background: #ea2016;
}
.hire:active {
  background: #ea2016;
  -webkit-box-shadow: #2b2b2b 2px 5px;
  box-shadow: #2b2b2b 2px 5px;
}
.headerImage {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 200px;
}
.profilePhoto {
  border: 5px solid #fff;
  height: auto;
  width: 100%;
}
.up {
  position: fixed;
  visibility: hidden;
  right: 50px;
  top: 520px;
  font-size: 3rem;
  color: #ee4d45;
  opacity: 0%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.up:active,
.up:focus,
.up:hover {
  opacity: 100% !important;
}
.about li,
.about p {
  margin: 0 auto;
  max-width: 650px;
}
.about p {
  margin-bottom: 10px;
}
.about ul {
  padding-left: 20px;
}
.about ul li {
  list-style: disc;
  font-size: 1.2rem;
  line-height: 1.7;
}
.skillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 320px;
}
.skills li {
  text-align: center;
  width: 50%;
  padding-top: 10px;
  max-width: 155px;
}
.skills i {
  font-size: 3.5rem;
}
.skills h4 {
  margin-top: 5px;
}
.projectContainer {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.projectContainer li {
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 450px;
  padding: 10px;
}
.projects h4 {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 0;
}
.projectImage {
  height: auto;
  width: 100%;
}
.collaborationLink {
  text-decoration: underline;
}
.collaborationLink:focus,
.collaborationLink:hover {
  text-decoration: none;
}
.used li {
  margin: unset;
  max-width: unset;
  padding: unset;
  font-size: 1.2rem;
  background: #2b2b2b;
  color: #fff;
  display: inline-block;
  padding: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
}
.projectLinkContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 180px;
  margin: 0 auto;
  padding-top: 10px;
}
.projectLink {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1rem;
  border-radius: 5px;
  -webkit-box-shadow: #2b2b2b 5px 10px;
  box-shadow: #2b2b2b 5px 10px;
  text-transform: uppercase;
  background: #ee4d45;
  color: #fff;
  margin-bottom: 20px;
}
.projectLink:focus,
.projectLink:hover {
  cursor: pointer;
  background: #ea2016;
}
.projectLink:active {
  background: #ea2016;
  -webkit-box-shadow: #2b2b2b 2px 5px;
  box-shadow: #2b2b2b 2px 5px;
}
.blog h3 {
  width: auto;
  max-width: 350px;
  margin-bottom: 100px;
  margin-top: 50px;
}
.blogPosts li {
  background: #f5f4f2;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-bottom: 40px;
  text-align: center;
  border-radius: 10px;
}
.blogText {
  padding: 10px;
}
.blogImageContainer,
.blogPosts h4,
.blogPosts h5,
.blogPosts p {
  max-width: 650px;
  margin: 0 auto;
}
.blogPosts h4,
.blogPosts h5 {
  font-size: 1.2rem;
  line-height: 1.7;
  text-align: left;
}
.blogPosts h4 {
  font-size: 1.5rem;
  color: #fff;
  background: #2b2b2b;
  padding: 5px;
  border-radius: 5px;
}
.blogPosts h5 {
  color: #fff;
  background: #2b2b2b;
  padding: 3px;
  border-radius: 5px;
  margin-top: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.blogPosts p {
  text-align: left;
  padding: 10px;
}
.blog a {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1rem;
  border-radius: 5px;
  -webkit-box-shadow: #2b2b2b 5px 10px;
  box-shadow: #2b2b2b 5px 10px;
  text-transform: uppercase;
  background: #d31c13;
  color: #fff;
  max-width: 450px;
  display: block;
  margin: 0 auto;
}
.blog a:focus,
.blog a:hover {
  cursor: pointer;
  background: #bc1911;
}
.blog a:active {
  background: #ea2016;
  -webkit-box-shadow: #2b2b2b 2px 5px;
  box-shadow: #2b2b2b 2px 5px;
}
.blog .mediumLink {
  background: #fff;
  color: #ee4d45;
  text-transform: none;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  display: inline;
}
.blog .mediumLink:active,
.blog .mediumLink:focus,
.blog .mediumLink:hover {
  background: #fff;
  border-bottom: 1px solid #2b2b2b;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.blog .mediumLink,
.moreBlog {
  font-size: 1.2rem;
  text-align: center;
}
.blog .apiLink {
  background: unset;
  color: #2b2b2b;
  text-transform: none;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  display: inline;
  font-size: 1.2rem;
  text-decoration: underline;
}
.blog .apiLink:active,
.blog .apiLink:focus,
.blog .apiLink:hover {
  background: unset;
}
footer {
  background: #f5f4f2;
}
footer .contact h4 {
  text-align: center;
  color: #2b2b2b;
}
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 1.2rem;
  margin: 0 auto;
}
input,
textarea {
  margin-bottom: 12px;
  padding: 10px 5px;
  width: 100%;
  border: none;
  -webkit-box-shadow: 2px 4px #bababa;
  box-shadow: 2px 4px #bababa;
}
::-webkit-input-placeholder {
  color: #545454;
}
:-ms-input-placeholder {
  color: #545454;
}
::-ms-input-placeholder {
  color: #545454;
}
::placeholder {
  color: #545454;
}
textarea {
  height: 200px;
  resize: none;
}
footer button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.2rem;
  border-radius: 5px;
  -webkit-box-shadow: #2b2b2b 5px 10px;
  box-shadow: #2b2b2b 5px 10px;
  text-transform: uppercase;
  background: #ee4d45;
  color: #fff;
  border: none;
  width: 200px;
  margin: 0 auto;
}
footer button:focus,
footer button:hover {
  cursor: pointer;
  background: #ea2016;
}
footer button:active {
  background: #ea2016;
  -webkit-box-shadow: #2b2b2b 2px 5px;
  box-shadow: #2b2b2b 2px 5px;
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  font-size: 2.5rem;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 40px;
  max-width: 500px;
}
.social a:focus,
.social a:hover {
  color: #ee4d45;
}
.copyright {
  text-align: center;
  color: #2b2b2b;
}
@media (min-width: 360px) {
  .projectLinkContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: unset;
    margin: unset;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .projectLink {
    margin-bottom: unset;
  }
  form {
    max-width: 90%;
  }
}
@media (min-width: 550px) {
  .former {
    margin-bottom: 50px;
  }
  .hire {
    padding: 15px 50px;
  }
  .headerImage {
    max-width: 350px;
  }
  p {
    line-height: 1.7;
    padding: 0;
  }
  .about ul {
    padding-left: 100px;
  }
  .skillsContainer {
    max-width: none;
  }
  form {
    max-width: 80%;
  }
}
@media (min-width: 760px) {
  form {
    max-width: 700px;
  }
  input {
    max-width: calc(50% - 10px);
  }
}
@media (min-width: 800px) {
  .topBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .logo {
    top: 10px;
    left: 0;
  }
  .mainNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .mainNav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    max-width: 680px;
  }
  .hamburger {
    display: none;
  }
  .up {
    visibility: visible;
  }
  h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
  }
  footer h4 {
    font-size: 1.5rem;
  }
}
@media (min-width: 900px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  h1 {
    margin-top: 50px;
  }
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
@media (max-height: 325px) {
  .mobileNav {
    padding-top: 10px;
  }
}
@media (max-height: 365px) {
  .mobileNav {
    padding-top: 30px;
  }
  .mobileNav a {
    padding: 8px 0;
  }
}
@media (max-height: 420px) {
  .mobileNav {
    padding-top: 30px;
  }
  .mobileNav a {
    padding: 12px 0;
  }
}
